@import url('https://fonts.googleapis.com/css?family=Roboto');
.container{
	border-width: 2px;
	border-color: black;
	border-style: solid;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column; 
}
.inputBox{
   direction: rtl;
}
.graphText{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.searchButton{
  
}
.spacer{
  min-height: 60px;
}
.phrase{
  display: inline-block;
  margin-left: 10px;
}
.svgOverlay{
  z-index: -10;
  position: absolute;
  top:0;
  left: 0;
  height: 400px;
}